<%- contentFor('title') %>
    Cadastrar Item(s)
<%- contentFor('main') %>
<h3 class="m-3">Cadastrar Item</h3>
<form action="/salvaritem" method="post">
    <input type="hidden" name="id_restaurante" value=<%=restaurante.id_restaurante%>>
    <div class="form-group m-3">
        
        <input type="text" class="form-control" placeholder="Nome" name="nome">
    </div>
    <div class="form-group m-3">
        
        <input type="text" class="form-control" placeholder="Descrição" name="descricao">
    </div>
    <div class="form-group m-3">

        <input type="number" step="0.01" class="form-control" placeholder="Valor" name="valor">
    </div>
    <button type="submit" class="btn btn-primary m-3">Cadastrar</button>
</form>
