<%- contentFor('title') %>
    Home
<%- contentFor('main') %>
<div class="container">
    <div class="banner">
        <img src="/images/Esquina Lanches SVG.svg" alt="Esquina Lanches">
    </div>
</div>

<style>
    body{
        background-color: black;
    }

    img{
        height: 400px;
        width: 100%;
    }
</style>