<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Esquina Lanches</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active m-2">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <% if (locals.restaurante) {%>
          <li class="nav-item active m-2">
            <a class="nav-link" href="/cadastrar-item">Cadastrar Item</a>
          </li>

          <li class="nav-item active m-2">
            <a class="nav-link" href="/meucardapio">Cardápio</a>
          </li>
          
          <li class="nav-item active m-2">
              <button type="button" class="btn btn-light">
                <%= restaurante.nome %>
              </button>
          </li>

          <form class="m-2" action="/logout" method="post">
            <li class="nav-item active">
              <button class="btn btn-success">Sair</button>
            </li>
        </form>
        <%} else{%>
          <li class="nav-item active m-2">
            <a class="nav-link" href="/cadastrar">Cadastre seu restaurante</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link" href="/login">Entrar</a>
          </li>
          
          <li class="nav-item active m-2">
            <a class="nav-link" href="/restaurantes">Restaurantes</a>
          </li>
        <%}%>
          
        
      </ul>
    </div>
  </nav>

  <style>
    a{
      padding: 30;
    }

    a:hover{
      color: blue;
    }
  </style>